{% extends original_change_list_template %}
{% load i18n static admin_modify %}

{% block extrastyle %}
	{{ advanced_filters.media.css }}
	{{ block.super }}
{% endblock extrastyle %}


{% block object-tools-items %}
	{{ block.super }}
	{# Add a link to the end of the tool items #}
	{% if advanced_filters %}
		<li><div class="afilters">
			<a class="ajax-popup-link icons-object-tools-add-link" data-toggle="modal" data-target="#advanced_filters"
                href>
                {% trans "Advanced Filter" %}
            </a>
            {% if '_afilter' in request.GET %}
                <a class="edit-link" href="{% url 'admin:advanced_filters_advancedfilter_change' current_afilter %}" >
                    {% trans "Edit" %}
                </a>
			{% endif %}
		</div></li>
	{% endif %}
{% endblock object-tools-items %}

{% block content %}
	{{ block.super }}
	{# Add the dialog content to the bottom of the content #}
    {% if advanced_filters %}
        {% with advanced_filters.fields_formset as formset %}
            <div class="modal fade" id="advanced_filters" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Create advanced filter" %}</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form novalidate method="POST" id="advanced_filters_form">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ formset.management_form }}
                                <input type="hidden" value="advanced_filters" name="action">
                                <table>
                                    {{ advanced_filters.as_table }}
                                </table>
                                <table class="table table-sm" id="{{ formset.prefix }}-group" data-rules-formset>
                                    <thead>
                                        <tr>
                                            {% for field in formset.fields %}
                                                <th style="color: black;">{{ field.label|capfirst }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form in formset %}
                                            <tr class="{% cycle 'row1' 'row2' %} {% if forloop.last %}empty-form{% endif %}" id="{{ formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                                                {% for field in form.visible_fields %}
                                                    <td>
                                                        <div class="form-row form-defaut">
                                                            <div class="col-12 {% if field.field.name %}field-{{ field.field.name }}{% endif %}">
                                                                {{ field }}
                                                                {{ field.errors }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br />

                                {{ advanced_filters.media.js }}

                                <!--suppress JSUnusedLocalSymbols -->
                                <script type="text/javascript" charset="utf-8">
                                    // globals
                                    let FORM_MODEL = undefined;
                                    let MODEL_LABEL = '{{ app_label }}.{{ opts.model_name }}';
                                </script>

                                {% include "admin/common_js_init.html" with formset=formset %}
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}">
                                <input class="btn btn-primary" name="_save_goto" type="submit" value="{% trans 'Save & Filter Now!' %}">

                                <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>
                            </div>
                        </form>
                    </div> <!-- .modal-content -->
                </div> <!-- .modal-dialog -->
			</div> <!-- .modal -->
		{% endwith %}
	{% endif %}
{% endblock content %}
