{% load i18n static %}

<script type="text/javascript">
	// globals
    var ADVANCED_FILTER_CHOICES_LOOKUP_URL = "{% url 'afilters_get_field_choices' %}";

    var formset_prefix = "{{ formset.prefix }}";
    var static_prefix = '{% static "admin/" %}';
    var add_button_text = "{% trans 'Add another filter' %}";
    var remove_button_text = "{% trans 'Remove' %}";

    // common advanced filter tabular form initialization
	(function($) {
		$("#" + formset_prefix + "-group > tbody > tr")
			.tabularFormset({
				prefix: formset_prefix,
				adminStaticPrefix: static_prefix,
				addText: add_button_text,
				deleteText: remove_button_text,
				added: function(row) {
				    let advanced_row = new AdvancedFiltersRow($, row);
				    advanced_row.init();
					// call original "added" callback
					$.fn.tabularFormset.default_added(row);
				},
                removed: function(row) {
				    let advanced_row = new AdvancedFiltersRow($, row);
				    advanced_row.destroy();
                }
		})
        .each(function(){
            if ($(this).hasClass('empty-form') === false) {
                let advanced_row = new AdvancedFiltersRow($, this);
                advanced_row.init();
            }
        });


	})(django.jQuery);
</script>